<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CoursesView</servlet-name>
        <servlet-class>view.CoursesView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoursesView</servlet-name>
        <url-pattern>/Courses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentsView</servlet-name>
        <servlet-class>view.StudentsView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentsView</servlet-name>
        <url-pattern>/students/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TuitionView</servlet-name>
        <servlet-class>view.TuitionView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TuitionView</servlet-name>
        <url-pattern>/tuitions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UITuitionView</servlet-name>
        <servlet-class>view.UITuitionView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UITuitionView</servlet-name>
        <url-pattern>/uituitionview/update_form</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UIStudentView</servlet-name>
        <servlet-class>view.UIStudentView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UIStudentView</servlet-name>
        <url-pattern>/uistudentview/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegistryView</servlet-name>
        <servlet-class>view.RegistryView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistryView</servlet-name>
        <url-pattern>/registryview/*</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>ClassRepView</servlet-name>
        <servlet-class>view.ClassRepView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassRepView</servlet-name>
        <url-pattern>/classrepview/*</url-pattern>
    </servlet-mapping>
    
    
    
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/Registrar</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
